{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set finalThird = params.context.nationalSecurityDivision and params.context.finalThirdEligibility.eligible and params.context.sentences[0].type.custodial and params.context.sentences[0].custody.finalThirdDate %}

{% set stage = 'early engagement' %}
{% set key = 'Required' %}
{% set forename = params.forename %}
{% set required = 0 %}
{% set completed = 0 %}

{% if params.currentPhase.phase.code == 'INIT' %}
  {% if params.earlyEngagement.weeks is defined and params.earlyEngagement.completed is defined %}
    {% set required = params.earlyEngagement.weeks | int(0) %}
    {% set completed = params.earlyEngagement.completed | int(0) %}
  {% endif %}
  {% set stage = 'early engagement' %}
  {% set key = 'Required' %}
{% elif params.currentPhase.phase.code == 'STD' %}
  {% if params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and params.earlyEngagement.completed is defined %}
    {% set required = (params.currentYear.appointments.allowance | int) - (params.earlyEngagement.completed | int(0)) %}
    {% set completed = (params.currentYear.appointments.completed | int) - (params.earlyEngagement.completed | int(0)) %}
  {% endif %}
  {% set stage = 'supervision' %}
  {% set key = 'Maximum' %}
{% endif %}
{% set remaining = required - completed %}
 {% set upcoming = params.currentYear.appointments.scheduled | int(0) %}
{% set warning = null %}
{% if params.context.sentences | hasBreachedSentence %}
  {% set warning = forename + " is in breach. You should continue to offer appointments." %}
 {% elif params.context.recallStatus and params.context.recallStatus.code %}
  {% set warning = forename + " has been recalled. Their appointments are paused." %}
{% endif %}

<section class="supervision-package-summary">
  <h3 class='govuk-heading-m'>Supervision package summary</h3>
  {% if warning %}
    {{ govukWarningText({
  text: warning,
  iconFallbackText: "Warning"
}) }}
  {% endif %}
  {% if params.currentPhase.phase.code == 'STD' and required == completed %}
    <p class="govuk-body">{{ forename }} has used all the supervision package appointments. If new risks emerge or there are exceptional circumstances, you can arrange contingency appointments.</p>
  {% endif %}
  {% if not finalThird %}
    <p class="govuk-body">{{ completed }} of {{ required }}{{ ( ' ' + stage if params.currentPhase.phase.code == 'INIT' ) }} appointments used</p>
    {{ govukSummaryList({
  rows: [
    {
      key: {
        text: key
      },
      value: {
        text:  required
      }
    },
    {
      key: {
        text: "Remaining"
      },
      value: {
        text:  remaining
      }
    },
    {
      key: {
        text: "Upcoming"
      },
      value: {
        text:  upcoming
      }
    }  
  ]
}) }}
  {% endif %}
  {% if not finalThird %}
    {% call govukDetails({
      summaryText: "Help with the " + stage + " stage"
    }) %}
    {% if params.currentPhase.phase.code == 'INIT' %}
     {% if completed < required %}
   <p class="govuk-body">You should see {{ forename }} every week for the first {{ params.earlyEngagement.weeks }} weeks of the sentence.</p>
 {% endif %}
      <p class="govuk-body">Early engagement is expected to end on {{ params.earlyEngagement.endDate | dateWithYear }} if {{ params.forename }} attends the required appointments by then.</p>
       <p class="govuk-body">{{ params.forename }} will then have a maximum of {{ (params.currentYear.appointments.allowance | int(0)) - (params.earlyEngagement.weeks | int(0)) }} supervision appointments for the rest of this sentence year.</p>
    {% endif %}
    {% if params.currentPhase.phase.code == 'STD' %}
      <p class="govuk-body">{{ params.forename }} has a maximum of {{ remaining }} appointments remaining.</p>
      <p class="govuk-body">
        {% if params.currentYear.isFirstYear %}
The supervision package ends on {{ params.currentYear.endDate | dateWithYear }}.
    {% else %}
 Appointments reset with the supervision package on {{ params.currentYear.endDate | dateWithYear }}.
    {% endif %}
      </p>
    {% endif %}
    {% endcall %}
  {% else %}
    <p class="govuk-body">{{ forename }} is in the final third of the sentence.</p>
    <p class="govuk-body">Meet {{ forename }} if there is a need for responsive management, risk or enforcement activity.</p>
  {% endif %}
</section>