{% from "../supervision-final-third-progress/macro.njk" import supervisionFinalThirdProgress %}
{% set standardAppointmentsComplete = params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and (params.currentYear.appointments.completed | int) >= (params.currentYear.appointments.allowance| int) %}
{% set hasSpecialStatus = params.inputs.offenderPersonalDisorderPathway or params.inputs.sentences | hasBreachedSentence or params.inputs.sentences | isInCustody or params.inputs.sentences | isAtLarge or params.inputs.recallStatus | isRecalled or params.inputs.integratedOffenderManagementRedRated %}

{% if
  params.inputs.nationalSecurityDivision
  and params.inputs.finalThirdEligibility.eligible
  and params.inputs.sentences[0].type.isCustodial
  and params.inputs.sentences[0].custody.finalThirdDate
%}
{{ supervisionFinalThirdProgress({
    supervisionPackage: params
}) }}

{% elif params.phase.name.code != 'SPNA' %}
<div class='govuk-width-container supervision-package'>
    {% if standardAppointmentsComplete or hasSpecialStatus %}
    <div class='app-tier-header'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-0'>{{ 'Supervision package: ' ~ params.sentenceType if params.sentenceType else 'Supervision package' }}</h2>
        {% include './partials/_tags.njk' %}
    </div>
    {% else %}
            <h2 class='govuk-heading-m'>{{ 'Supervision package: ' ~ params.sentenceType if params.sentenceType else 'Supervision package' }}</h2>
    {% endif %}

    <div class='govuk-grid-row'>
        <div class='{{ "govuk-grid-column-one-half" if (params.phase.name.description and params.phase.name.code) or params.inputs.offenderPersonalDisorderPathway else "govuk-grid-column-two-thirds" }}'>
            {% if params.inputs.sentences | hasBreachedSentence %}
                <div class='govuk-warning-text'>
                    <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
                    <strong class='govuk-warning-text__text'>
                        <span class='govuk-visually-hidden'>Warning</span>
                        {{ params.forename }} is in breach. You should continue to offer appointments.
                    </strong>
                </div>
            {% elseif params.inputs.sentences | isInCustody %}
                <div class='govuk-warning-text'>
                    <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
                    <strong class='govuk-warning-text__text'>
                        <span class='govuk-visually-hidden'>Warning</span>
                        {{ params.forename }} has been recalled. Their appointments are paused.
                    </strong>
                </div>
            {% endif %}

            <div class='app-tier-header'>
                <h3 class='govuk-heading-s govuk-!-margin-bottom-0'>
                    Tier {{ '' if params.tierScore == 'MISSING' else params.tierScore }}
                </h3>
                {% if params.tag.text and params.tag.color %}
                    <strong class='govuk-tag govuk-tag--{{ params.tag.color }}'>{{ params.tag.text }}</strong>
                {% endif %}
            </div>

            {% if params.tag.text == 'Provisional' %}
                <p class='govuk-body'>
                    We will calculate the supervision package once the tier is confirmed.
                </p>
            {% endif %}

            {% if params.tag.text == 'Unavailable' %}
                <p class='govuk-body'>
                    Tier information is currently unavailable.
                </p>
            {% endif %}

            {% if params.createdAt and (params.createdAt == params.updatedAt or not params.updatedAt) %}
                <p class='govuk-body'>
                    The supervision package was created on {{ params.createdAt | dateWithYear }}.
                </p>
            {% elseif params.updatedAt and (not params.createdAt or params.createdAt != params.updatedAt) %}
                <p class='govuk-body'>
                    The supervision package was changed on {{ params.updatedAt | dateWithYear }} and the appointment allowance was recalculated.
                </p>
            {% endif %}

            {% if params.historyHref %}
                <p class='govuk-body'>
                    <a href='{{ params.historyHref }}' class='govuk-link govuk-link--no-visited-state'>
                        {{ params.historyText or 'View tier change history' }}
                    </a>
                </p>
            {% endif %}

            {% set nextAppointmentDate = (params.nextAppointment and params.nextAppointment.date) | dateWithYear(true) %}
            {% if params.nextAppointment and nextAppointmentDate and params.nextAppointment.description and params.nextAppointment.href %}
                <h3 class='govuk-heading-s'>Next appointment</h3>
                <p class='govuk-body'>
                    <a href='{{ params.nextAppointment.href }}' class='govuk-link govuk-link--no-visited-state'>{{ params.nextAppointment.description | toTitleCase }}: {{ nextAppointmentDate }}</a>
                </p>
            {% else %}
                <p class='govuk-body'>No appointments scheduled</p>
            {% endif %}
        </div>

        {% if (params.phase.name.description and params.phase.name.code) or params.inputs.offenderPersonalDisorderPathway %}
            <div class='govuk-grid-column-one-half'>
                {% if params.inputs.offenderPersonalDisorderPathway %}
                    <h3 class='govuk-heading-s'>Supervision appointments</h3>
                    {% include './partials/_opd.njk' %}
                {% elseif params.inputs.sentences | isAtLarge or params.inputs.sentences | isInCustody %}
                    <h3 class='govuk-heading-s'>{{ params.phase.name.description | toTitleCase }} stage</h3>
                    {% include './partials/_progress-bar.njk' %}
                {% elseif params.inputs.liferCategory.code == 'LF01' or params.inputs.liferCategory.code == 'LF02' or params.inputs.liferCategory.code == 'LF03' or params.inputs.liferCategory.code == 'x9'  %}
                    <h3 class='govuk-heading-s'>{{ params.phase.name.description | toTitleCase }} stage</h3>
                    {% include './partials/_no-end-date.njk' %}
                {% elseif params.phase.name.code  == 'INIT' %}
                    <h3 class='govuk-heading-s'>{{ params.phase.name.description | toTitleCase }} stage</h3>
                    {% include './partials/_early-engagement.njk' %}
                {% elseif params.phase.name.code  == 'STD' %}
                    <h3 class='govuk-heading-s'>{{ params.phase.name.description | toTitleCase }} stage</h3>
                    {% include './partials/_standard-supervision.njk' %}
                {% else %}
                    <h3 class='govuk-heading-s'>{{ params.phase.name.description | toTitleCase }}</h3>
                {% endif %}

                {% if params.allAppointmentsHref %}
                    <p class='govuk-body'>
                        <a class='govuk-link govuk-link--no-visited-state' href='{{ params.allAppointmentsHref }}' >View all appointments</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if not (params.inputs.sentences | isInCustody or params.inputs.sentences | isAtLarge ) and (params.arrangeAppointmentHref or (params.crn and params.deliusBaseURL)) %}
        <div class='govuk-button-group'>
            {% if params.arrangeAppointmentHref %}
                <a href='{{ params.arrangeAppointmentHref }}' role='button' draggable='false' class='govuk-button' data-module='govuk-button'>
                    Arrange an appointment
                </a>
            {% endif %}

            {% if params.crn and params.deliusBaseURL %}
                <a href='{{ params.deliusBaseURL }}/NDelius-war/delius/JSP/deeplink.xhtml?component=RegisterSummary&CRN={{params.crn}}' role='button' draggable='false' class='govuk-button govuk-button--secondary' data-module='govuk-button'>
                    Update NDelius risk flag
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endif %}
