{% from "../supervision-final-third-progress/macro.njk" import supervisionFinalThirdProgress %}
{% set standardAppointmentsComplete = params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and (params.currentYear.appointments.completed | int) >= (params.currentYear.appointments.allowance| int) %}
{% set hasSpecialStatus = params.context.offenderPersonalDisorderPathway or params.context.sentences | hasBreachedSentence or params.context.sentences | isInCustody or params.context.sentences | isAtLarge or params.context.integratedOffenderManagementRedRated %}
{% set sentenceTypeValue = params.context | sentenceType %}
{% set phaseCode = params.currentPhase.phase.code | upper %}
{% set showPhaseColumn = phaseCode == 'INIT' or phaseCode == 'STD' or phaseCode == 'FTHRD' %}
{% set lifeCategoryCode = params.context.liferCategory.code | upper %}

{% if
  params.context.nationalSecurityDivision
  and params.context.finalThirdEligibility.eligible
  and params.context.sentences[0].type.isCustodial
  and params.context.sentences[0].custody.finalThirdDate
%}
{{ supervisionFinalThirdProgress({
    supervisionPackage: params
}) }}

{% elif phaseCode != 'SPNA' and not params.context.nationalSecurityDivision and showPhaseColumn %}
<div class='govuk-width-container supervision-package'>
    {% if standardAppointmentsComplete or hasSpecialStatus %}
    <div class='app-tier-header'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-0'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h2>
        {% include './partials/_tags.njk' %}
    </div>
    {% else %}
            <h2 class='govuk-heading-m'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h2>
    {% endif %}

    <div class='govuk-grid-row'>
        <div class='{{ "govuk-grid-column-one-half" if showPhaseColumn else "govuk-grid-column-two-thirds" }}'>

            {% include './partials/_warnings.njk' %}
            {% include './partials/_tier.njk' %}
            {% include './partials/_package-creation-date.njk' %}

            {% if params.historyHref %}
                <p class='govuk-body'>
                    <a href='{{ params.historyHref }}' class='govuk-link govuk-link--no-visited-state'>
                        {{ params.historyText or 'View tier change history' }}
                    </a>
                </p>
            {% endif %}

            {% include './partials/_next-appointment.njk' %}
        </div>

        {% if showPhaseColumn %}
            <div class='govuk-grid-column-one-half'>
                {% if params.context.offenderPersonalDisorderPathway %}
                    <h3 class='govuk-heading-s'>Supervision appointments</h3>
                    {% include './partials/_opd.njk' %}
                {% elseif params.context.sentences | isAtLarge or params.context.sentences | isInCustody %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_progress-bar.njk' %}
                {% elseif lifeCategoryCode == 'LF01' or lifeCategoryCode == 'LF02' or lifeCategoryCode == 'LF03' or lifeCategoryCode == 'x9'  %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_no-end-date.njk' %}
                {% elseif phaseCode == 'INIT' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_early-engagement.njk' %}
                {% elseif phaseCode == 'STD' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_standard-supervision.njk' %}
                {% elseif phaseCode == 'FTHRD' %}
                    <h3 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h3>
                    {% include './partials/_final-third.njk' %}
                {% endif %}

                {% include './partials/_view-appointments.njk' %}
            </div>
        {% endif %}
    </div>

    {% include './partials/_action-buttons.njk' %}
</div>
{% endif %}
