{% from "../supervision-final-third-progress/macro.njk" import supervisionFinalThirdProgress %}
{% set standardAppointmentsComplete = params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and (params.currentYear.appointments.completed | int) >= (params.currentYear.appointments.allowance| int) %}
{% set hasSpecialStatus = params.context.offenderPersonalDisorderPathway or params.context.sentences | hasBreachedSentence or params.context.sentences | isInCustody or params.context.sentences | isAtLarge or params.context.integratedOffenderManagementRedRated %}
{% set sentenceTypeValue = params.context | sentenceType %}
{% set phaseCode = params.currentPhase.phase.code | upper %}
{% set showPhaseColumn = phaseCode == 'INIT' or phaseCode == 'STD' or phaseCode == 'FTHRD' or phaseCode == 'IOM' or phaseCode == 'OPD' or phaseCode == 'SPNS' %}
{% set lifeCategoryCode = params.context.liferCategory.code | upper %}
{% set sentence = params.context.sentences | getPrimarySentence %}
{% set forename = params.context.name.forename %}

{% if
  params.context.nationalSecurityDivision
  and params.context.finalThirdEligibility.eligible
  and sentence.type.isCustodial
  and sentence.custody.finalThirdDate
%}
<div role='region' aria-label='Supervision package'>
{{ supervisionFinalThirdProgress({
    supervisionPackage: params
}) }}
</div>
{% elif phaseCode != 'SPNA' and not params.context.nationalSecurityDivision and (showPhaseColumn or not params.currentPhase) %}
<div class='govuk-width-container supervision-package' role='region' aria-label='Supervision package'>
    {% if standardAppointmentsComplete or hasSpecialStatus %}
    <div class='app-tier-header'>
        <h3 class='govuk-heading-m govuk-!-margin-bottom-0'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h3>
        {% include './partials/_tags.njk' %}
    </div>
    {% else %}
        <h3 class='govuk-heading-m'>{{ 'Supervision package: ' ~ sentenceTypeValue if sentenceTypeValue else 'Supervision package' }}</h3>
    {% endif %}

    <div class='govuk-grid-row'>
        {% if showPhaseColumn %}
            {% set columnClass = 'govuk-grid-column-one-half' %}
        {% elif not params.currentPhase %}
            {% set columnClass = 'govuk-grid-column-full' %}
        {% else %}
            {% set columnClass = 'govuk-grid-column-two-thirds' %}
        {% endif %}
        <div class='{{ columnClass }}'>
            {% include './partials/_warnings.njk' %}

            {% if not params.currentPhase and params.oasysReviewHref %}
                <p class='govuk-body'><a href='{{ params.oasysReviewHref }}' class='govuk-link govuk-link--no-visited-state'>Start an OASys review (opens in new tab)</a> to confirm {{ forename}}’s supervision package. Until then, follow national standards for appointments.</p>
            {% elseif phaseCode == 'SPNS' and params.oasysReviewHref %}
                <p class='govuk-body'><a href='{{ params.oasysReviewHref }}' class='govuk-link govuk-link--no-visited-state'>Complete an OASys review (opens in new tab)</a> to confirm {{ forename}}’s supervision package. Until then, follow national standards for appointments. </p>
                <p class='govuk-body'>
                    Appointments do not count towards the package until it is confirmed.
                </p>
            {% endif %}

            {% include './partials/_tier.njk' %}
            {% include './partials/_package-creation-date.njk' %}

            {% if params.historyHref %}
                <p class='govuk-body'>
                    <a href='{{ params.historyHref }}' class='govuk-link govuk-link--no-visited-state'>
                        {{ params.historyText or 'View tier change history' }}
                    </a>
                </p>
            {% endif %}

            {% if params.currentPhase and phaseCode != 'SPNS' %}
                {% include './partials/_next-appointment.njk' %}
            {% endif %}
        </div>

        {% if showPhaseColumn and params.currentPhase %}
            <div class='govuk-grid-column-one-half'>
                {% if params.context.offenderPersonalDisorderPathway %}
                    <h4 class='govuk-heading-s'>Supervision appointments</h4>
                    {% include './partials/_opd.njk' %}
                {% elseif params.context.integratedOffenderManagementRedRated %}
                    <h4 class='govuk-heading-s'>Red rated IOM</h4>
                    {% include './partials/_red-iom.njk' %}
                {% elseif params.context.sentences | isAtLarge or params.context.sentences | isInCustody %}
                    <h4 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h4>
                    {% include './partials/_progress-bar.njk' %}
                {% elseif phaseCode == 'INIT' %}
                    <h4 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h4>
                    {% include './partials/_early-engagement.njk' %}
                {% elseif phaseCode == 'STD' %}
                    <h4 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h4>
                    {% include './partials/_standard-supervision.njk' %}
                {% elseif phaseCode == 'FTHRD' %}
                    <h4 class='govuk-heading-s'>{{ params.currentPhase.phase.description | toTitleCase }} stage</h4>
                    {% include './partials/_final-third.njk' %}
                {% elseif phaseCode == 'SPNS' %}
                    <h4 class='govuk-heading-s'>Appointments</h4>
                    {% include './partials/_in-flight.njk' %}
                {% endif %}

                {% include './partials/_view-appointments.njk' %}
            </div>
        {% endif %}
    </div>

    {% if phaseCode and phaseCode != 'SPNS' %}
        {% include './partials/_action-buttons.njk' %}
    {% endif %}
</div>
{% endif %}
