<p class='govuk-body'>You should see {{ params.forename }} every week for the first {{ params.earlyEngagementWeeks }} weeks of the sentence.</p>
<p class='govuk-body'>Early engagement ends on {{ params.phase.endDate }} if {{ params.forename }} attends the required appointments by then.</p>
<p class='govuk-body'>{{ params.forename }} will then have a maximum of {{ params.appointments.allowance }} supervision appointments for the rest of this sentence year.</p>
