{% if params.forename and (params.earlyEngagement.completed | int < params.earlyEngagement.weeks | int) %}
    <p class='govuk-body'>You should see {{ params.forename }} every week for the first {{ params.earlyEngagement.weeks }} weeks of the sentence.</p>
{% endif %}

{% if params.forename and params.currentYear.appointments.allowance  is defined and params.earlyEngagement.weeks is defined %}
    <p class='govuk-body'>
        Early engagement ends on {{ params.phase.endDate | dateWithYear }}{% if params.forename and (params.earlyEngagement.completed | int < params.earlyEngagement.weeks | int) %} if {{ params.forename }} attends the required appointments by then{% endif %}.
    </p>
{% endif %}

{% if params.currentYear.appointments.allowance is defined and params.earlyEngagement.weeks is defined %}
    <p class='govuk-body'>{{ params.forename }} will then have a maximum of {{ (params.currentYear.appointments.allowance | int) - (params.earlyEngagement.weeks | int) }} supervision appointments for the rest of this sentence year.</p>
{% endif %}

{% include './_progress-bar.njk' %}

{% if params.allAppointmentsHref %}
    <p class='govuk-body'>
        <a class='govuk-link govuk-link--no-visited-state' href='{{ params.allAppointmentsHref }}' >View all appointments</a>
    </p>
{% endif %}
