<p class='govuk-body'>
    {{ forename }} could have {{ params.appointmentsEstimate }} supervision appointments remaining until the supervision stage ends on {{ params.supervisionEndDate | dateWithYear }}.
</p>

<p class='govuk-body'>
    Appointments do not count towards the package until it is confirmed.
</p>
