<p class='govuk-body'>
    {{ forename }} could have {{ params.currentYear.appointments.allowance }} supervision appointments remaining until the supervision stage ends on {{ params.currentYear.endDate | dateWithYear }}.
</p>
