<p class='govuk-body'>There is no supervision end date.</p>

{% if params.context | isEligibleForDiscretionaryAppointments(params.tierScore) %}
    <p class='govuk-body'>As a woman in tier {{ params.tierScore }}, {{ params.context.name.forename }} can have up to 5 additional discretionary appointments.</p>
{% endif %}
