<p class='govuk-body'>
    {{ params.context.name.forename }} is receiving offender personality disorder (OPD) treatment.
</p>

<p class='govuk-body'>
    {{ params.context.name.forename }} can receive additional appointments while in treatment. Use your professional judgement to decide how many appointments are needed.
</p>

<p class='govuk-body'>
    When treatment ends, the supervision package is recalculated on a pro rata basis.
</p>
