<p class='govuk-body'>{{ forename }} has a Prevent concerns risk flag and can receive additional appointments while this flag is active. Use your judgement to decide how many they need.</p>

<p class='govuk-body'>When the flag ends, the supervision package is recalculated on a pro rata basis.</p>

{% include './_appointments-guidance.njk' %}

{% include './_final-third-eligibility.njk' %}

{% include './_progress-bar.njk' %}
