{% set sentence = params.context.sentences | getPrimarySentence %}

<p class='govuk-body'>{{ forename }} has an IOM red RAG status. The maximum number of appointments is the same as tier A.</p>

{% include './_appointments-guidance.njk'%}

{% include './_final-third-eligibility.njk'%}

{% include './_progress-bar.njk' %}
