<div class='supervision-package' role='region' aria-label='Supervision package'>
    <div class='app-tier-header'>
        <h3 class='govuk-heading-m govuk-!-margin-bottom-0'>Supervision package</h3>
        <strong class='app-status-badge govuk-tag govuk-tag--grey'>Unavailable</strong>
    </div>

    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            Supervision package information is currently unavailable while the package is being recalculated.
        </strong>
    </div>
</div>
