{% set sentence = params.context.sentences | getPrimarySentence %}
{% include './_appointments-guidance.njk' %}

{% if lifeCategoryCode %}
    {% include './_no-end-date.njk' %}
{% endif %}

{% include './_final-third-eligibility.njk' %}

{% include './_progress-bar.njk' %}

{% if params.context | isEligibleForDiscretionaryAppointments(params.tierScore) %}
    <p class='govuk-body'>As a woman in tier {{ params.tierScore }}, {{ forename }} can have up to 5 additional discretionary appointments.</p>
{% endif %}
