<p class='govuk-body'>{{ params.popName }} has {{ params.appointmentsRemaining }} supervision appointments remaining
    until the supervision stage ends on {{ params.supervisionPhaseEndDate }}.
</p>
{% if params.finalThirdStartDate %}
    <p class='govuk-body'>{{ params.popName }} is eligible to start the final third stage on
        {{ params.finalThirdStartDate }}
    </p>
{% endif %}
<p class='govuk-body'>
    {{ params.appointmentsAttended }} of {{ params.appoitmentsTotal }} used
</p>
