{% if params.currentYear.appointments.allowance is defined and params.currentYear.appointments.completed is defined and (params.currentYear.appointments.completed | int) >= (params.currentYear.appointments.allowance | int) and not params.inputs.offenderPersonalDisorderPathway %}
    <strong class='app-status-badge govuk-tag govuk-tag--red'>No appointments remaining</strong>
{% endif %}

{% if params.inputs.sentences | hasBreachedSentence %}
    <strong class='app-status-badge govuk-tag govuk-tag--yellow'>In breach</strong>
{% endif %}

{% if params.isCustody %}
    <strong class='app-status-badge govuk-tag govuk-tag--yellow'>In custody</strong>
{% endif %}

{% if params.inputs.offenderPersonalDisorderPathway %}
    <strong class='app-status-badge govuk-tag govuk-tag--purple'>Offender personality disorder</strong>
{% endif %}

{% if params.inputs.integratedOffenderManagementRedRated %}
    <strong class='app-status-badge govuk-tag govuk-tag--red'>IOM (Integrated Offender Management): Red</strong>
{% endif %}
