{% if params.context.sentences | hasBreachedSentence %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ params.context.name.forename }} is in breach. You should continue to offer appointments.
        </strong>
    </div>
{% elseif params.context.sentences | isInCustody %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ params.context.name.forename }} has been recalled. Their appointments are paused.
        </strong>
    </div>
{% endif %}
