{% if phaseCode == 'SPNS' %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            The supervision package shown may change. It is based on data that needs review.
        </strong>
    </div>
{% elseif sentence.inBreach %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ forename }} is in breach. You should continue to offer appointments.
        </strong>
    </div>
{% elseif sentence | isRecalled %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ forename }} has been recalled. Their appointments are paused.
        </strong>
    </div>
{% elseif sentence | hasRestrictedCustodyStatus %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ forename }} is in custody. Their appointments are paused.
        </strong>
    </div>
{% elseif sentence | isUnlawfullyAtLarge %}
    <div class='govuk-warning-text'>
        <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
        <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            {{ forename }} is unlawfully at large. You should continue to offer appointments.
        </strong>
    </div>
{% endif %}
