.person-header {
  margin-bottom: govuk-spacing(4);
}

.person-header__band {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(3);
}

.person-header__name {
  color: govuk-colour("white");
}

.person-header__crn {
  color: govuk-colour("white");
}

.person-header__managed-by {
  text-decoration: underline;
}

.person-header__meta {
  display: flex;
  flex-wrap: wrap;
  column-gap: govuk-spacing(6);
  row-gap: govuk-spacing(1);
  margin: 0;
  color: govuk-colour("white");

  li {
    list-style: none;
  }
}

.person-header__risk-panel {
  display: flex;
  flex-direction: column;
  gap: govuk-spacing(2);
  background-color: govuk-colour("black", $variant: "tint-95");
  padding: govuk-spacing(3) govuk-spacing(4);
}

.person-header__risk-tags {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: govuk-spacing(2);
}
