.risk-badge-link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.person-header__risk-panel {
  display: flex;
  flex-direction: column;
  gap: govuk-spacing(2);
  background-color: govuk-colour("black", $variant: "tint-95");
  padding: govuk-spacing(3) govuk-spacing(4);
}


.pop-header-risk-badges {
  &:not(:empty) {
    margin-bottom: govuk-spacing(2);
  }
}

.person-header__risk-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.person-header__risk-tags .dps-alert-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 3px solid;
  padding: 5px 10px;
  height: initial;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  user-select: none;
  border-radius: 5px;
  color: #0b0c0c;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  text-transform: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

/* Risk flag colours */
$risk-badge-very-high: #711a0d;
$risk-badge-high: #d4351c;
$risk-badge-medium: #f2590d;
$risk-badge-low: #85994b;

$risk-badge-colours: (
        'very-high': $risk-badge-very-high,
        'high': $risk-badge-high,
        'medium': $risk-badge-medium,
        'low': $risk-badge-low,
);

@each $level, $colour in $risk-badge-colours {
  .person-header__risk-tags .risk-badge--#{$level} {
    border-color: $colour;

    &:hover {
      background-color: $colour;
      color: #fff;
      text-decoration-thickness: 2px;
    }
  }
}

.person-header__risk-tags .dps-alert-status:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.person-header__risk-tags .risk-badge-more {
  white-space: nowrap;
}