
<div class='person-header'>
    <div class='person-header__band{% if params.photo %} person-header__band--with-photo{% endif %}'>
        {% if params.photo %}
        <img
                class='person-header__photo'
                data-qa='personPhoto'
                src='{{ params.photo }}'
                alt='Photo of {{ params.name }}'
        >
        {% endif %}

        <div class='person-header__details'>
            <h1
                    class='govuk-heading-xl govuk-!-margin-bottom-2 person-header__name'
                    data-qa='personName'
            >
                {{ params.name }}

                {% if params.personStatusTag %}
                <strong
                        class='app-status-badge govuk-tag govuk-tag--yellow'
                        data-qa='personStatusTag'
                >
                    {{ params.personStatusTag }}
                </strong>
                {% endif %}
            </h1>

            <p class='govuk-caption-l govuk-!-margin-bottom-3 person-header__crn'>
                <span class='govuk-!-font-weight-bold'>CRN:</span>
                <span data-qa='crn'>{{ params.crn }}</span>
            </p>

            <ul class='govuk-list person-header__meta'>
                <li>
                    <span class='govuk-!-font-weight-bold'>Date of birth:</span>
                    <span data-qa='dob'>{{ params.dob }}</span>
                </li>

                <li>
                    <a
                            class='govuk-link govuk-link--inverse'
                            href='{{ params.historyHref }}'
                            data-qa='tier'
                    >
                        <span class='govuk-!-font-weight-bold'>Tier:</span> {{ params.tier }}
                    </a>
                </li>

                <li>
                    {% if params.managedByName %}
                    {% set managedByText = params.managedByName | formatName %}

                    {% if params.managedByLocation %}
                    {% set managedByText = managedByText + ' (' + params.managedByLocation + ')' %}
                    {% endif %}
                    {% else %}
                    {% set managedByText = params.managedBy %}
                    {% endif %}

                    <span class='govuk-!-font-weight-bold'>Managed by:</span>

                    {% if params.managedByHref %}
                    <a
                            class='govuk-link govuk-link--inverse'
                            href='{{ params.managedByHref }}'
                            data-qa='managedBy'
                    >
                        {{ managedByText }}
                    </a>
                    {% else %}
                    <span data-qa='managedBy'>{{ managedByText }}</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {# Risk badges and risk flags #}

    {% if (params.riskBadges and (params.riskBadges | trim)) or
        (params.personRiskFlags and
        params.personRiskFlags.groups and
        (params.personRiskFlags.groups | length) > 0) %}

    {# RSR / ROSH risk badges #}

    {% if params.riskBadges and (params.riskBadges | trim) %}
    <div class='person-header__risk-panel'>
        <div
                class='person-header__risk-tags'
                data-qa='riskBadges'
        >
            {{ params.riskBadges | safe }}
        </div>
    </div>
    {% endif %}

    {# Person risk flags #}

    {% if params.personRiskFlags and
            params.personRiskFlags.groups and
            (params.personRiskFlags.groups | length) > 0 %}

    <div class='person-header__risk-panel'>
        <div
                class='person-header__risk-tags'
                data-qa='personRiskBadges'
        >
            {% for group in params.personRiskFlags.groups %}
            {% for risk in group.badges %}
            <a
                    href='/case/{{ params.crn }}/risk/flag/{{ risk.id }}'
                    class='govuk-link govuk-link--no-underline govuk-link--text-colour dps-alert-status dps-alert-status--risk {{ risk.badgeClass }}'
                    data-qa='risk-badge-{{ risk.id }}'
            >
                {{ risk.text | safe }}
            </a>
            {% endfor %}
            {% endfor %}

            {% if params.personRiskFlags.remainingCount > 0 %}
            <a
                    href='/case/{{ params.crn }}/risk'
                    class='govuk-link risk-badge-more'
                    data-qa='risk-badge-more'
            >
                +{{ params.personRiskFlags.remainingCount }} active risk flags
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
