@use "src/assets/scss/all";

body {
  margin: 0;
}

.supervision-package {
  border-top: 5px solid #1d70b8;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 20px 20px 0;
  margin-bottom: 30px;
}

.app-tier-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.phase-preview__appointments {
  margin-top: 15px;
}

.phase-preview__appointment-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.phase-preview__appointment {
  display: flex;
  flex-direction: column;

  .govuk-label {
    margin-bottom: 5px;
  }

  .govuk-input {
    margin-bottom: 0;
  }
}




.govuk-flex {
  display: flex;
}

.inline-list-from-tablet>li {
  display: inline;
}

.hide-mobile {
  display: none;
}

@media (min-width: 641px) {
  .hide-mobile {
    display: inline;
  }
}
